.contact-section {
  padding-top: $pad-base * 2;
  padding-bottom: $pad-base * 2;

  text-align: center;

  background-color: darken($color-red, 4);
  color: #fff;

  @include mq($mq-portrait-tablet) {
    padding-top: $pad-base * 5;
    padding-bottom: $pad-base * 5;
  }
}

.contact-section__title {
  margin-bottom: $pad-base;

  font-weight: 700;
  text-transform: uppercase;
}

.contact-section__subtitle {
  @include Title();

  font-size: $fs-large;
}

.contact-section__text {
  margin-top: $pad-base * 1.5;
}

.contact-section__action-outer {
  margin-top: $pad-base * 1.5;
}
