.section-teams {
  padding-top: $pad-base * 2;
  padding-bottom: $pad-base * 2;

  @include mq($mq-portrait-tablet) {
    padding-top: $pad-base * 5;
    padding-bottom: $pad-base * 5;
  }
}

.section-teams-header {
  text-align: center;
}

.section-teams-title {
  margin-bottom: $pad-base;

  font-weight: 700;
  text-transform: uppercase;
}

.section-teams-subtitle {
  @include Title();

  font-size: 28px;

  @include mq($mq-landscape-phone) {
    font-size: $fs-large;
  }
}

.section-teams-items {
  @include mq($mq-portrait-tablet) {
    justify-content: center;

    display: flex;
    margin-top: $pad-base * 2;
    margin-left: -$pad-base * 4;
  }
}

.section-teams-item {
  position: relative;

  margin-top: $pad-base * 2;
  margin-bottom: $pad-base * 3;

  @include mq($mq-portrait-tablet) {
    width: calc(33% - #{$pad-base * 4});
    margin-left: $pad-base * 4;
  }

  &::before {
    content: '';

    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: 20%;
    z-index: 0;

    display: block;

    background-color: $color-red;

    transform: scale(0);
    transition: transform $transition-time * 3;
  }

  &:hover::before {
    transform: scale(1);
  }
}

.section-teams-item-action {
  position: relative;
  z-index: 2;

  display: block;
  padding-top: $pad-base * 2;
  padding-bottom: $pad-base * 2;

  text-decoration: none;

  color: inherit;
}

.section-teams-item-image {
  z-index: 2;

  display: block;
  height: 130px;
  margin-bottom: $pad-base * 2;

  text-align: center;

  /* stylelint-disable selector-max-type */
  img {
    width: auto;
    height: 100%;
  }
  /* stylelint-enable */
}

.section-teams-item-image-placeholder {
  display: block;
  height: 100%;

  text-align: center;

  &::before {
    @include Title();

    content: '?';

    font-size: $fs-huge;
  }
}

.section-teams-item-text {
  position: relative;
  z-index: 1;

  display: block;

  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  transition: color $transition-time * 2;

  .section-teams-item:hover & {
    color: #fff;
  }
}

.section-teams-action-outer {
  text-align: center;
}
