.gallery-section {
  background-color: $color-black;
  color: $color-white;

  @include mq($mq-portrait-tablet) {
    display: flex;
  }
}

.gallery-section-text {
  width: 100%;

  @include mq($mq-portrait-tablet) {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 50%;

    .gallery-section-altLayout & {
      justify-content: flex-start;
      order: 2;
    }
  }

  @include mq($mq-computer-bigger) {
    width: 35%;
  }
}

.gallery-section-text-inner {
  height: 100%;

  padding: ($pad-base * 2) ($pad-base * 1);

  @include mq($mq-portrait-tablet) {
    max-width: 520px;
    padding: $pad-base * 3;
  }
}

.gallery-section-text-title {
  margin-bottom: $pad-base;

  font-weight: bold;
  text-transform: uppercase;
}

.gallery-section-text-subtitle {
  @include Title();

  font-size: $fs-large;
}

.gallery-section-text-action-outer {
  margin-top: $pad-base * 3;
}

.gallery-section-items {
  width: 100%;

  @include mq($mq-landscape-phone) {
    display: flex;
    flex-wrap: wrap;
  }

  @include mq($mq-portrait-tablet) {
    width: 50%;

    .gallery-section-altLayout & {
      order: 0;
    }
  }

  @include mq($mq-computer-bigger) {
    width: 65%;
  }
}

.gallery-section-item {
  @include Intrinsic();

  width: 100%;

  filter: grayscale(100%);

  &.in-view {
    filter: grayscale(0%);
    transition: filter $transition-time * 10;
    transition-delay: $transition-time * 2;
  }

  &:nth-child(n+7) {
    display: none;
  }

  @include mq($mq-landscape-phone) {
    width: 50%;

    &:nth-child(n+3) {
      display: none;
    }
  }

  @include mq($mq-portrait-tablet) {
    width: 100%;

    &:nth-child(n+3) {
      display: none;
    }
  }

  @include mq($mq-landscape-tablet) {
    width: 50%;

    &:nth-child(n+3) {
      display: block;
    }

    &:nth-child(n+7) {
      display: none;
    }
  }

  @include mq($mq-computer-bigger) {
    width: 33.3%;

    &:nth-child(n+7) {
      display: block;
    }
  }
}

.gallery-section-item-image {
  /* workaround for rendering weirdness */
  transform: scale(1.01);
}
