.gallery-section {
  @include Clearfix();
  position: relative;

  background-color: $color-black;
  color: $color-white;

  z-index: 2;
}

.gallery-section-text {
  @include mq($mq-portrait-tablet) {
    position: absolute;
    right: 50%;
    top: 0;
    bottom: 0;

    .gallery-section-altLayout & {
      left: 50%;
      right: auto;
    }
  }

  @include mq($mq-computer-bigger) {
    right: 65%;

    .gallery-section-altLayout & {
      left: 65%;
      right: auto;
    }
  }
}

.gallery-section-text-inner {
  height: 100%;

  padding: ($pad-base * 2) ($pad-base * 1);

  @include mq($mq-portrait-tablet) {
    float: right;

    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 520px;
    padding: $pad-base * 3;
  }
}

.gallery-section-text-title {
  margin-bottom: $pad-base;

  font-weight: bold;
  text-transform: uppercase;
}

.gallery-section-text-subtitle {
  @include Title();

  font-size: $fs-large;
}

.gallery-section-text-action-outer {
  margin-top: $pad-base * 3;
}

.gallery-section-items {
  display: flex;
  flex-wrap: wrap;

  @include mq($mq-portrait-tablet) {
    width: 50%;
    float: right;

    .gallery-section-altLayout & {
      float: left;
    }
  }

  @include mq($mq-computer-bigger) {
    width: 65%;
  }
}

.gallery-section-item {
  @include Intrinsic();

  width: 100%;

  filter: grayscale(100%);

  &.in-view {
    filter: grayscale(0%);
    transition: filter $transition-time * 10;
    transition-delay: $transition-time * 2;
  }

  &:nth-child(n+7) {
    display: none;
  }

  @include mq($mq-landscape-phone) {
    width: 50%;

    &:nth-child(n+3) {
      display: none;
    }
  }

  @include mq($mq-portrait-tablet) {
    width: 100%;

    &:nth-child(n+3) {
      display: none;
    }
  }

  @include mq($mq-landscape-tablet) {
    width: 50%;

    &:nth-child(n+3) {
      display: block;
    }

    &:nth-child(n+7) {
      display: none;
    }
  }

  @include mq($mq-computer-bigger) {
    width: 33.3%;

    &:nth-child(n+7) {
      display: block;
    }
  }
}

.gallery-section-item-image {
  /* workaround for rendering weirdness */
  transform: scale(1.01);
}
