/*
  Generic section, used for stats & teams on the homepage
*/

.section {
  z-index: 2;

  padding-top: $pad-base * 3;
  padding-bottom: $pad-base * 3;

  text-align: center;

  background-color: $color-white;

  @media ($mq-landscape-tablet) {
    padding-top: $pad-base * 6;
    padding-bottom: $pad-base * 6;
  }
}

.section__header {
  margin-bottom: $pad-base * 1.5;
}

.section__kicker {
  margin-bottom: 20px;

  font-weight: 800;
  text-transform: uppercase;
}

.section__title {
  @include Title();

  font-size: $fs-large;
}

.section__extra {
  margin-top: $pad-base * 2;
}

.section__button-wrap {
  margin-top: $pad-base * 2;

  @include mq($mq-landscape-tablet) {
    margin-top: $pad-base * 3;
  }
}
