.stats {
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;

  background-color: $color-white;

  @include mq($mq-portrait-tablet) {
    justify-content: center;

    display: flex;
  }
}

.stats__stat {
  text-align: center;

  & + & {
    margin-top: $pad-base;
  }

  @include mq($mq-portrait-tablet) {
    &:nth-child(2) {
      margin-right: auto;
      margin-left: auto;
    }

    & + & {
      margin-top: 0;
    }
  }
}

.stats-text {
  margin-bottom: $pad-base * 2;

  line-height: $line-height;

  @include mq($mq-portrait-tablet) {
    margin-bottom: $pad-base * 3;
  }
}

.stats__stat-number {
  @include Title();

  display: block;
  margin-bottom: $pad-base;

  font-size: 80px;
  text-align: center;

  color: $color-red;

  @include mq($mq-portrait-tablet) {
    margin-right: 0;
  }

  @include mq($mq-landscape-tablet) {
    font-size: 100px;
  }
}

.stats__stat-desc {
  display: block;

  font-weight: 700;
  line-height: $line-height;
  text-align: center;
  text-transform: uppercase;
}

