.stats {
  z-index: 2;
  background-color: $color-white;

  text-align: center;

  padding-top: $pad-base * 3;
  padding-bottom: $pad-base * 3;

  @media ($mq-landscape-tablet) {
    padding-top: $pad-base * 6;
    padding-bottom: $pad-base * 6;
  }
}

.stats-title {
  margin-bottom: 20px;

  font-weight: 800;
  text-transform: uppercase;
}

.stats-subtitle {
  @include Title();

  font-size: $fs-large;

  margin-bottom: $pad-base * 1.5;
}

.stats-stats {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;

  @include mq($mq-portrait-tablet) {
    display: flex;
    justify-content: center;
  }
}

.stats-stat {
  text-align: center;

  & + & {
    margin-top: $pad-base;
  }

  @include mq($mq-portrait-tablet) {

    &:nth-child(2) {
      margin-right: auto;
      margin-left: auto;
    }

    & + & {
      margin-top: 0;
    }
  }
}

.stats-text {
  line-height: $line-height;
  margin-bottom: $pad-base * 2;

  @include mq($mq-portrait-tablet) {
    margin-bottom: $pad-base * 3;
  }
}

.stats-stat-number {
  @include Title();

  display: block;
  margin-bottom: $pad-base;

  font-size: 80px;
  color: $color-red;

  text-align: center;

  @include mq($mq-portrait-tablet) {
    margin-right: 0;
  }

  @include mq($mq-landscape-tablet) {
    font-size: 100px;
  }
}

.stats-stat-desc {
  line-height: $line-height;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.stats-action-outer {
  margin-top: $pad-base * 2;
}
