{% extends "base.html" %}

{% block title %}About Horsepower, and Lewis Collard{% endblock %}

{% block content %}
  <article class="contained full-height">
    <div class="plain-text text-page">
      <h2>In which I love talking about me</h2>
      <p>
        I'm Lewis Collard. If you're on this site, you probably already know
        me as one of the resident photographers with the Norfolk Arena Drift
        Team. If you don't, greetings! I'm Lewis Collard, one of the resident
        photographers with the
        <a href="http://www.norfolkdrifteam.co.uk">Norfolk Arena Drift
        Team</a>! Good to have you here. :)
      </p>

      <p>
        Those of you who know me from drift racing will not know that my
        photographic background is in
        <a href="http://lewiscollard.com/gallery/">landscape and still
        photography</a>, often on film. In early 2012, I was looking to
        broaden the scope of my work, and at the same time I acquired a friend
        called Natasha. As she knew people on the car scene, I asked her
        whether she knew anyone that needed photographs of their cars. She
        mentioned that there was drift racing at the Norfolk Arena in King's
        Lynn, not very far from me. My response was <i>oh, I did not know that
        was a thing.</i>
      </p>

      <p>
        Looking back at that, and looking at how photographing my drifty
        friends is such an important part of my life now, I'm amused at
        past-me's response to that revelation.
      </p>

      <p>
        So I showed up on the 11th of March 2012, and oh man. There was the
        noise, there was the dust, there was the smell, there was the
        barely-controlled chaos, and I got a passenger ride
        from <a href="/galleries/drivers/phil-cracknell/">Phil Cracknell</a>, and
        <em>hell yes this is
        the greatest thing on the planet</em>. Then a massive set of changes
        in my life in late 2013 meant that I resolved to go to every Norfolk
        Arena Drift Team day from then on.
      </p>

      <p>
        I started doing it for fun, and for myself, but things got a little
        nuts when people learned I was a photographer there, and I started
        getting snowed under by the volume of messages on Facebook, and so in
        June 2014 I started a tradition of epic Norfolk Arena Drift Team photo
        threads on Facebook, from where most of my drifting photos that you
        see on this site come.
      </p>

      <p>
        (As much as the word 'epic' is overused, I am not kidding; you should
        <a href="https://www.facebook.com/lewiscollard">add me on Facebook</a>,
        or at least stalk me there, and see for yourself on a post-drift
        evening.)
      </p>

      <h2>Technical information</h2>

      <p>
        Some people ask me about technical things. If you don't care, don't
        start caring now &mdash; whatever camera or phone you have is good
        enough to get great shots (or great video) so go out there and do it!
        This is just for the people who care.
      </p>

      <p>
        With that said, none of my equipment is particularly expensive.
      </p>

      <p>
        Nearly all of my photographs pre-August 2016 were shot with a 2005 4.1
        megapixel Nikon D2Hs. This is an 8-frames-per-second beast that used
        to sell for about &pound;5000 when it was new, and as of 2016 tends
        to sell for about &pound;200 on eBay. Of course, I bought it used!
        I've written about it
        <a href="http://lewiscollard.com/cameras/nikon-d2hs/">in much greater
        length on my other website</a>.
      </p>

      <p>
        That camera died an unceremonious death on a Norfolk Arena Drift Team
        day in August 2016 (I'd have made it ceremonious, but I couldn't get
        a hearse and twenty-one cannons at that kind of short notice). It
        died early in the day, and upon mentioning to fellow photographer
        <a href="http://www.drift365blog.com/">Graham Watkinson</a> that my
        camera was no longer working, he swiftly escorted me to his car, dug
        out his Nikon D2X backup body, and I borrowed that for the day.
      </p>

      <p>
        I liked it so much that I ended up buying it on that very day, but I
        was also so annoyed at myself almost missing out on a day's
        shooting that I resolved never to go out without a backup body, and
        ended up buying another D2Hs as well.
      </p>

      <p>
        Pre-August 2016 photos, when in daylight, were shot with a Nikon
        18-70mm AF-S DX lens (about &pound;60 on eBay). I should say <i>one
        of</i> those lenses, as I have killed three of them so far. After
        my third one died, on the same day as the Nikon D2Hs death mentioned
        above, I decided to get a lens without a built-in autofocus motor
        (being driven by the camera body), and ended up with a Nikon 28-80mm
        f/3.5-4.5 for my daylight shooting for about &pound;80.
      </p>

      <p>
        Very-low-light shots, such as my photos from Swaffham, were usually
        shot with a Nikon 50mm f/1.8 AF, which will set you back about
        &pound;100 new, or &pound;60 used.
      </p>

      <p>
        The only monster professional lens I've used for any of these photos
        was a 80-200 f/2.8 AF-D. I found myself almost never using it so I
        sold it.
      </p>

      <p>
        In case you missed it: <i>this means that the vast majority of the
        photos on my website have been shot on a setup worth about
        &pound;270</i>, and you can make it cheaper than that if you want. If
        you like my photography, then go out and use whatever gear you have
        rather than worrying about cameras!
      </p>

      <h2>A word of thanks</h2>

      <p>
        Thank you, Natasha Fuller, for getting me into this mess. I owe you.
      </p>

      <p>
        Thank you, <a href="http://chiaramensa.com/">Chiara Mensa</a>, for
        giving this site a stunning visual makeover.
      </p>

      <p>
        Thank you to the drivers in my photos for the fun they give me, the
        passenger rides, and all the love I have gotten for my photos over
        the years. I make <i>negative</i> money from all of this; each time
        one of you shares a photo I took or thanks me for the stuff I
        do, that alone makes all of the time I have put into doing this
        worthwhile.
      </p>

      <p>
        Thanks to the other motorsports photographers from whom I have learned
        so much. When I started out doing this seriously I spent hour upon
        hour, day after day, looking through your photos to work out what I
        was doing wrong and what you were doing
        right. Shout out to
        <a href="http://www.ammophotography.co.uk">Tom 'Ammo' Harden</a>,
        <a href="http://www.drift365blog.com">Graham Watkinson</a>,
        <a href="http://dprkphoto.co.uk/">Mark Lees</a>, Richard Young,
        and especially the late, great Mark Callf.
      </p>

      <p>
        Finally, perhaps most importantly, thank you to my family at the
        Norfolk Arena Drift Team, for making this all happen, for supporting
        and encouraging me and my work over the years, and for giving me
        photographic opportunities that you simply do not get anywhere else.
        And in case you didn't know, NADT drift days that are always
        <i>free</i> for spectators. If you're within reasonable travelling
        range of King's Lynn or Swaffham there's no reason to <i>not</i> come
        and see us!
      </p>

      <p>
        <a class="button" href="/contact/">Get in touch with me</a>
      </p>
    </div>
  </article>
{% endblock %}
