$color-black: #000;
$color-red: #f21000;
$color-white: #fff;
$color-border: #dfdfdf;

$font-base: 'helvetica neue', helvetica, arial, sans-serif;
$font-mega: 'HelveticaNeue-CondensedBlack', 'Helvetica Neue', 'Arial Black', 'Freesans', 'Arial', sans-serif;

$media-lg: (min-width: 1024px);

$line-height: 1.6;

$fs-medium: 32px;
$fs-large: 48px;
$fs-huge: 120px;

$pad-base: 20px;

$size-contained-large: 1400px;
$size-contained-med: 1200px;
$size-contained-small: 960px;

$text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
$transition-time: 0.1s;

// Media queries
$mq-landscape-phone: 640px;
$mq-portrait-tablet: 768px;
$mq-landscape-tablet: 1024px;
$mq-computer: 1025px;

// Testing with Amy: this is really 1366 screen size, but Mac Safari seems to
// save a few pixels for browser chrome. So let's roll with this.
$mq-computer-bigger: 1350px;
$mq-computer-huge: 1920px;
