$color-black: #000;
$color-red: #f21000;
$color-white: #fff;

$font-base: 'freesans';

$media-lg: (min-width: 1024px);

$line-height: 1.6;

$fs-large: 48px;
$fs-huge: 120px;

$pad-base: 20px;

$size-contained-large: 1400px;
$size-contained-med: 1200px;
$size-contained-small: 960px;

$text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
