@mixin Intrinsic($width: 3, $height: 2) {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: relative;
    padding-bottom: percentage($height / $width);

    background-size: cover;
    background-position: center;
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
  }
}

@mixin Spread() {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

@mixin Clearfix() {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin Title {
  font-family: $font-mega;
  font-weight: 900;
  text-transform: uppercase;
}

@mixin mq($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}
