@mixin Clearfix() {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin Title {
    font-family: "Helvetica Neue", "Arial Black", "Freesans", "Arial", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}
