@mixin Intrinsic($width: 3, $height: 2) {
  position: relative;

  &::before {
    content: '';

    position: relative;

    display: block;
    padding-bottom: percentage($height / $width);

    background-position: center;
    background-size: cover;
  }

  /* stylelint-disable selector-max-universal */
  > * {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
  }
  /* stylelint-enable */
}

@mixin Spread() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;
}

@mixin Title {
  font-family: $font-mega;
  font-weight: 900;
  text-transform: uppercase;
}

@mixin mq($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}
