@import 'base/definitions';
@import 'base/reset';
@import 'base/mixins';
@import 'base/common';

@import 'layout/layout';
@import 'layout/header';
@import 'layout/footer';

/* needs to go first, don't change */
@import 'components/gallery';
@import 'components/album';
@import 'components/buttons';
@import 'components/contact-page';
@import 'components/floater';
@import 'components/full-screen';
@import 'components/hero';
@import 'components/photo';
@import 'components/plain-text';
@import 'components/tile';
@import 'components/upcoming-events';

/* Front page sections */
@import 'sections/contact';
@import 'sections/gallery';
@import 'sections/generic';
@import 'sections/teams';
@import 'sections/stats';

.clearme {
  clear: both;
}

/* Assistive text for screen readers. */
.assistive {
  position: absolute;
  top: -10px;

  width: 1px;
  height: 1px;

  overflow: hidden;
}
