@import "base/definitions";
@import "base/reset";
@import "base/mixins";

@import "layout/layout";
@import "layout/header";
@import "layout/footer";

@import "components/album";
@import "components/album-index";
@import "components/buttons";
@import "components/full-screen";
@import "components/gallery";
@import "components/photo";
@import "components/plain-text";
@import "components/stats";
@import "components/section-drivers";
@import "components/section-gallery";

@import "vendor/fontello";


strong, b {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

.clearme {
	clear: both;
}

@media screen {
	.assistive {
		display: none;
	}
}

.page-title {
	text-transform: uppercase;
	font-family: "bitstream serif", georgia, serif;
	text-align: center;
	font-size: 24px;
	margin: 0 0 20px 0;
}

/* Footer */
#footer {
	font-size: 12px;
	border-top: 1px solid #666666;
	margin-top: 20px;
	padding: 20px 0;
	text-align: center;
}

#footer p {
	line-height: 1.5;
	margin-bottom: 5px;
}

/* Front page */
.front-page {

}

.slider {
	position: relative;
	padding-bottom: 66.67%;

	z-index: 2;
}

.slider-loading {
	display: block;
	position: absolute;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	z-index: 10;
}

.slider-loading:before {
	content: "Loading...";
	display: block;
	z-index: 11;
	position: absolute;
	top: 50%;
	margin-top: -16px;
	left: 50%;
	color: #cccccc;
	width: 300px;
	padding-left: 45px;
	margin-left: -70px;
	height: 32px;
	line-height: 32px;
	background-image: url(/resource/images/loading.gif);
	background-position: 0px center;
	background-repeat: no-repeat;
}

.slider .slide {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display: none;
	z-index: 1;
}

.slider .slide:first-child, .slider .slide.active {
	display: block;
}

.slider .nav {
	z-index: 10;
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 20px;
	height: 20px;
}

.slider .nav li {
	display: inline-block;
	height: 20px;
	width: 20px;
	border: 1px solid #ffffff;
	margin: 0 10px;
	background-color: transparent;
	background-color: rgba(255, 255, 255, 0);
	transition: all 0.4s;
	cursor: pointer;
}

.slider .nav li.active {
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, 0.9);
	transition: all 0.4s;
}

.slider .slide img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.slider .prevnext {
	height: 30px;
	line-height: 30px;
	width: 30px;
	position: absolute;
	display: block;
	text-align: center;
	border: 1px solid #cccccc;
	z-index: 10;
	top: 50%;
	margin-top: -15px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.3);
}

.slider .prevnext.next {
	right: 10px;
}

.slider .prevnext.prev {
	left: 10px;
}

.album-listing {
	margin-left: -0.5%;
}

.album-listing .count {
	width: 5em;
	height: 1.5em;
	padding-top: 3.5em;
	font-size: 10px;
	position: absolute;
	bottom: 0;
	right: -2.5em;
	text-align: center;
	color: #cccccc;
}

.front-page section .more-button {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 15px;
}

#fp-greatest-hits li {
	width: 20%;
	float: left;
	position: relative;
}

#fp-greatest-hits ul {
	margin-left: -0.5%;
}


#fp-greatest-hits li a {
	display: block;
	padding-bottom: 66.67%;
	position: relative;
}

#fp-greatest-hits li img {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}


.album-listing li a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	padding-bottom: 66.67%;
}

.album-listing li img {
	position: absolute;
	height: 100%;
}

.album-listing a .title {
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	padding: 5px;
	line-height: 1.5;
	text-align: left;
	font-size: 12px;
	font-family: freesans;

	text-transform: uppercase;

	text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

/* Album listing */

ul.album-photos {
	margin-left: 0.5%;
}

.album-photos li {
	float: left;
	width: 19.5%;
	margin-left: 0.5%;
	position: relative;
	margin-bottom: 0.5%;
}

.album-photos li div {
	position: relative;
}

.album-photos li a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	padding-bottom: 66.67%;
}

.album-photos li img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}


/* Individual image pages */
.fullres-download {
	margin-bottom: 20px;
	text-align: center;
}

.image-container {
	text-align: center;
	margin-bottom: 20px;
	position: relative;
}

.image-container-squareish, .image-container-tall {
	width: 50%;
	margin: 0 auto;
}

.image-container-wide {
	width: 100%;

}


.image-container .image-container-inner {
	position: relative;
	top: 0px;
	left: 0px;
}

.image-container img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

ul#desc {
	line-height: 1.5;
	text-align: center;
}

/* Page text */
.text {
	line-height: 1.5;
}

.text ol {
	list-style-type: decimal;
}

.text ul {
	list-style-type: disc;
}

.text ol, .text ul {
	margin-left: 2em;
}

.text li+li {
	margin-top: 0.75em;
}

.text ul+p, .text p+ul, .text ol+p, .text p+ol, .text p+p,
.text p+blockquote, .text blockquote+p {
	margin-top: 1em;
}

.text blockquote {
	margin-left: 2em;
	padding-left: 1em;
	border-left: 5px solid #cccccc;
	font-style: italic;
}

@media screen and (max-width: 1023px) {
	.contained {
		padding: 0.5% 0;
	}
	.album-listing li {
		width: 32.83%;
	}
	#fp-greatest-hits li {
		width: 24.5%;
	}
	.album-photos li {
		width: 32.83%;
	}
	.slider .nav li {
		width: 15px;
		height: 15px;
	}
}

@media screen and (max-width: 800px) {
	.album-listing li {
		width: 49.5%;
	}
	.album-photos li {
		width: 49.5%;
	}

	.slider .nav li {
		width: 10px;
		height: 10px;
	}
	#fp-greatest-hits li {
		width: 32.83%;
	}
}
