{% macro tile(image, link_url, title=None, count=None, indicator_type="box", alt_text=None) %}
  {#
    A generic image tile, linking to something else.

    This is used on the homepage for, e.g. each event in the events list,
    and each driver for the drivers.
  #}
  <a href="{{ link_url }}" class="tile">
    {% if alt_text %}
      <img src="{{ image }}" alt="{{ alt_text }}" class="tile__image">
    {% else %}
      <span class="tile__image" style="background-image: url({{ image }})"></span>
    {% endif %}

    {% if title %}
      <span class="tile__title-gradient"></span>
      <span class="tile__title">{{ title }}</span>
    {% endif %}

    {% if count %}
      <span class="tile__count">
        {% include 'svg/waffle.svg' %}
        <span class="assistive">(</span>{{ count }}
        <span class="assistive">photos)</span>
      </span>
    {% endif %}

    {% if indicator_type == 'box' %}
      <span class="tile__indicator tile__indicator--box">
        {% include 'svg/chevron.svg' %}
      </span>
    {% endif %}

    {% if indicator_type == 'glass' %}
      <span class="tile__indicator tile__indicator--glass">
        {% include 'svg/glass.svg' %}
      </span>
    {% endif %}
  </a>
{% endmacro %}
