{% macro tile(image, link_url, title=None, count=None, indicator_type="box") %}
  {#
    A generic image tile, linking to something else.

    This is used on the homepage for, e.g. each event in the events list,
    and each driver for the drivers.
  #}
  <a href="{{ link_url }}" class="tile">
    <span class="tile__image" style="background-image: url({{ image }})"></span>
    {% if title %}
      <span class="tile__title-gradient"></span>
      <span class="tile__title">{{ title }}</span>
    {% endif %}

    {% if count %}
      <span class="tile__count">
        <i class="icon icon-th"></i>
        <span class="assistive">(</span>{{ count }}
        <span class="assistive">photos)</span>
      </span>
    {% endif %}

    {# FIXME: add the magnifier glass indicator #}
    {% if indicator_type == 'box' %}
      <span class="tile__indicator">
        <i class="icon icon-right-open"></i>
      </span>
    {% endif %}
  </a>
{% endmacro %}
