{% macro generic(id, kicker, title, link, link_text) %}
  <section class="section">
    <div class="section__inner contained">
      <div class="section__header">
        <h2 class="section__kicker">
          {{ kicker }}
        </h2>

        <p class="section__title">
          {{ title }}
        </p>
      </div>

      <div class="section__body">
        {{ caller() }}
      </div>

      {% if link and link_text %}
        <p class="section__button-wrap">
          <a class="button" href="{{ link }}">{{ link_text }}</a>
        </p>
      {% endif %}
    </div>
  </section>
{% endmacro %}

{% macro stats(items) %}
  <ul class="stats">
    {% for item in items %}
      <li class="stats__stat">
        <span class="stats__stat-number">{{ item.number }}</span>
        <span class="stats__stat-desc">{{ item.text }}</span>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
