.album-outer {
  background-color: $color-black;
}

.album-header {
  padding-top: $pad-base * 2;
  padding-bottom: $pad-base * 2;

  color: #fff;

  @include mq($mq-portrait-tablet) {
    padding-top: $pad-base * 4;
    padding-bottom: $pad-base * 4;
  }
}

.album-header-text {
  @include mq($mq-landscape-tablet) {
    max-width: 66%;
  }
}

.album-title-main {
  @include Title();

  display: block;

  font-size: $fs-large;

  @media ($mq-portrait-tablet) {
    font-size: 52px;
  }
}

.album-title-above {
  display: block;
  margin-bottom: $pad-base * 0.5;

  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.album-description {
  margin-top: $pad-base * 2;
}

.album-items {
  display: flex;

  flex-wrap: wrap;
}

.album-item {
  flex: 0 0 auto;

  width: 50%;

  overflow: hidden;

  @include mq($mq-portrait-tablet) {
    width: 25%;
  }

  @include mq($mq-computer-bigger) {
    width: 20%;
  }

  @include mq($mq-computer-huge) {
    width: 16.666%;
  }
}

.album-item-action {
  display: block;

  color: #fff;
}

.album-item-inner {
  @include Intrinsic();

  &::after {
    @include Spread();

    content: '';

    background-color: $color-red;

    opacity: 0;
    transform: scale(0);
    transition: all $transition-time * 3;

    z-index: 3;
  }

  &:hover::after {
    opacity: 0.9;
    transform: scale(1);
  }
}

.album-item-photo {
  @include Spread();

  will-change: transform;

  transition: transform $transition-time;
  transform: scale(1.01);

  .album-item:hover & {
    transform: scale(1.1);
    transition: transform $transition-time * 3;
  }
}

.album-item-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;

  width: 20px;
  height: 20px;

  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;

  z-index: 4;

  opacity: 0;

  .album-item:hover & {
    opacity: 1;

    transition: opacity $transition-time;
    transition-delay: $transition-time * 3;
  }
}
