.album-index-outer {
  background-color: $color-black;
  color: $color-white;

  min-height: calc(100vh - 100px);
}

.album-index-header {
  padding-top: $pad-base * 3;
  padding-bottom: $pad-base * 3;
}

.album-index-title {
  @include Title();

  font-size: 56px;;
}

.album-listing-item {
  @include mq($mq-portrait-tablet) {
    width: 50%;
    float: left;
  }

  @include mq($mq-landscape-tablet) {
    width: 33.33%;
  }

  @include mq($mq-computer-bigger) {
    width: 20%;
  }

  @include mq($mq-computer-huge) {
    width: 16.666%;
  }
}
