.button {
  display: inline-block;
  height: 45px;
  padding-right: 30px;
  padding-left: 30px;

  font-size: 12px;
  font-weight: 700;
  line-height: 45px;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $color-black;
  border: 1px solid transparent;
  color: #fff;

  transition: all 0.1s;

  &:hover {
    background-color: $color-red;
  }

  &.onDark {
    background-color: transparent;
    border-color: $color-white;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-red;
    }
  }

  &.onWhiteHollow {
    background-color: #fff;
    border-color: $color-black;
    color: $color-black;

    &:hover {
      background-color: $color-red;
      border-color: $color-red;
      color: #fff;
    }
  }
}
