.button {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding-left: 30px;
  padding-right: 30px;

  border: 1px solid #000;
  color: #fff;

  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;

  transition: all 0.1s;

  &.onDark {
    border-color: $color-white;
    color: $color-white;

    &:hover {
      color: $color-red;
      background-color: $color-white;
    }
  }
}
