@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}

.carousel-outer {
  position: relative;
}

.carousel-loader {
  @include Spread();
  background-color: #222;

  z-index: 3;

  .carousel-outer-loaded & {
    opacity: 0;
    transition: opacity 0.5s, left 2s;
    left: -100%;
  }
}

.carousel-loader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -75px;

  color: #fff;

  font-size: 100px;
  width: 150px;
  text-align: center;

  animation:spin 4s linear infinite;

  opacity: 0.5;
}

.carousel-frame {
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.carousel-button {
  display: block;

  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;

  font-size: 10px;

  position: absolute;
  top: 50%;
  left: 2%;

  z-index: 3;

  border: 1px solid #fff;
  color: #fff;

  cursor: pointer;
  user-select: none;

  &.carousel-button-next {
    left: auto;
    right: 2%;
  }

  @include mq($mq-portrait-tablet) {
    height: 50px;
    width: 50px;
    line-height: 50px;

    font-size: 16px;
  }
}

.carousel-slides {
  display: block;
}

.carousel-slide {
  position: relative;
  display: inline-block;
  width: 100%;

  cursor: pointer;
}

.carousel-slide-inner {
  width: 100%;
  position: relative;
  padding-bottom: 66.67%;
  z-index: -1;
}

.carousel-slide-image {
  @include Spread();

  cursor: pointer;
  user-select: none;
}

