.carousel-outer {
  position: relative;
}

.carousel-frame {
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.carousel-button {
  display: block;
  height: 50px;
  width: 50px;

  line-height: 50px;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 2%;

  z-index: 3;

  border: 1px solid #fff;
  color: #fff;

  cursor: pointer;
  user-select: none;

  &.carousel-button-next {
    left: auto;
    right: 2%;
  }
}

.carousel-slides {
  display: block;
}

.carousel-slide {
  position: relative;
  display: inline-block;
  width: 100%;

  cursor: pointer;
}

.carousel-slide-inner {
  width: 100%;
  position: relative;
  padding-bottom: 66.67%;
  z-index: -1;
}

.carousel-slide-image {
  @include Spread();

  cursor: pointer;
  user-select: none;
}

