.contact-block {
  padding-top: $pad-base * 4;
  padding-bottom: $pad-base * 4;

  & + & {
    border-top: 1px solid $color-border;
  }
}

.contact-block-title {
  @include Title();

  font-size: $fs-large;
  text-align: center;
}

.contact-social {
  margin-top: $pad-base * 2;

  @include mq($mq-portrait-tablet) {
    display: flex;
    flex-wrap: wrap;

    margin-left: -$pad-base * 2;
  }

  @include mq($mq-landscape-tablet) {
    margin-left: -$pad-base * 4;
  }
}

.contact-social-item {
  margin-top: $pad-base * 2;
  text-align: center;

  @include mq($mq-portrait-tablet) {
    width: calc(50% - #{$pad-base * 2});
    margin-left: $pad-base * 2;
  }

  @include mq($mq-landscape-tablet) {
    width: calc(25% - #{$pad-base * 4});
    margin-left: $pad-base * 4;
  }
}

.contact-social-item-link {
  color: inherit;
  text-decoration: none;
}

.contact-social-icon {
  display: inline-block;

  background-color: $color-red;
  color: #fff;

  height: 250px;
  width: 250px;
  line-height: 250px;

  text-align: center;

  .icon {
    font-size: 150px;
  }
}

.contact-social-title {
  @include Title();

  font-size: $fs-medium;

  display: block;
  margin-top: $pad-base;
}

.contact-social-text {
  display: block;
  margin-top: $pad-base;
  margin-bottom: $pad-base;

  line-height: $line-height;
}
