.contact-block {
  padding-top: $pad-base * 4;
  padding-bottom: $pad-base * 4;

  & + & {
    border-top: 1px solid $color-border;
  }
}

.contact-block-title {
  @include Title();

  font-size: $fs-large;
  text-align: center;
}

.contact-social {
  margin-top: $pad-base * 2;

  @include mq($mq-portrait-tablet) {
    flex-wrap: wrap;
    justify-content: center;

    display: flex;

    margin-left: -$pad-base * 2;
  }
}

.contact-social-item {
  margin-top: $pad-base * 2;

  text-align: center;

  @include mq($mq-portrait-tablet) {
    width: calc(50% - #{$pad-base * 2});
    margin-left: $pad-base * 2;
  }

  @include mq($mq-landscape-tablet) {
    width: calc(25% - #{$pad-base * 2});
    margin-left: $pad-base * 2;
  }
}

.contact-social-item-link {
  text-decoration: none;

  color: inherit;
}

.contact-social-icon {
  align-items: center;
  justify-content: center;

  display: flex;
  width: 250px;
  height: 250px;
  margin: 0 auto;

  text-align: center;

  background-color: $color-red;
  color: #fff;

  .icon {
    font-size: 150px;
  }

  svg {
    height: 120px;

    fill: #fff;
  }

  @include mq($mq-landscape-tablet) {
    width: 200px;
    height: 200px;

    .icon {
      font-size: 120px;
    }
  }

  @include mq($mq-computer-bigger) {
    width: 250px;
    height: 250px;

    .icon {
      font-size: 150px;
    }
  }
}

.contact-social-title {
  @include Title();

  display: block;
  margin-top: $pad-base;

  font-size: $fs-medium;
}

.contact-social-text {
  display: block;
  margin-top: $pad-base;
  margin-bottom: $pad-base;

  line-height: $line-height;
}
