.contact-block {
  padding-top: $pad-base * 4;
  padding-bottom: $pad-base * 4;

  & + & {
    border-top: 1px solid $color-border;
  }
}

.contact-block-title {
  @include Title();

  font-size: $fs-large;
  text-align: center;
}

.contact-social {
  @include Clearfix();

  @include mq($mq-portrait-tablet) {
    margin-left: -5%;
  }

  @include mq($mq-landscape-tablet) {
    margin-top: $pad-base * 2;
  }
}

.contact-social-item {
  margin-top: $pad-base * 2;
  text-align: center;

  @include mq($mq-portrait-tablet) {
    width: 45%;
    float: left;
    margin-left: 5%;
  }

  @include mq($mq-landscape-tablet) {
    width: 20%;
    float: left;
  }
}

.contact-social-item-link {
  color: inherit;
  text-decoration: none;
}

.contact-social-icon {
  display: inline-block;

  background-color: $color-red;
  color: #fff;

  height: 250px;
  width: 250px;
  line-height: 250px;

  text-align: center;

  .icon {
    font-size: 150px;
  }
}

.contact-social-title {
  @include Title();

  font-size: $fs-medium;

  display: block;
  margin-top: $pad-base;
}

.contact-social-text {
  display: block;
  margin-top: $pad-base;
  margin-bottom: $pad-base;
}
