.fullscreen {
  z-index: -1;
  position: relative;

  height: 100vh;
  width: 100%;

  transform: translate3d(0,0,0);

  overflow: hidden;

  @media screen and (orientation: portrait) {
    height: 0;
    padding-bottom: 66%;
  }
}

.fullscreen-image {
  position: absolute;

  top: -14%;
  right: 0;
  bottom: -14%;
  left: 0;

  /* FIXME: background-attachment fixed performance is bad. But having 'position: fixed'
  instead doesn't allow you to have more than one... */
  background-size: cover;
  background-position: center;
}
