.fullscreen {
  z-index: -1;
  position: relative;

  height: 100vh;
  width: 100%;
}

.fullscreen-image {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* FIXME: background-attachment fixed performance is bad. But having 'position: fixed'
  instead doesn't allow you to have more than one... */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}