.gallery-item {
  position: relative;

  overflow: hidden;

  @include mq($mq-portrait-tablet) {
    width: 50%;
  }

  @include mq($mq-landscape-tablet) {
    width: 25%;
  }
}

.gallery-item-action {
  @include Spread();

  color: inherit;
  text-decoration: none;
  z-index: 3;

  &::after {
    @include Spread();

    content: '';

    background-color: $color-red;

    opacity: 0;
    transform: scale(0);
    transition: all $transition-time * 3;

    z-index: 3;
  }

  &:hover::after {
    opacity: 0.8;
    transform: scale(1);
  }
}

.gallery-item-inner {
  position: relative;
  padding-bottom: 66.6%;
}

.gallery-item-image {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover;

  z-index: 2;

  transition: transform $transition-time;
  transform: scale(1.01);
  will-change: transform;

  .gallery-item:hover & {
    transform: scale(1.1);
    transition: transform $transition-time * 3;
  }
}

.gallery-item-title {
  position: absolute;
  top: 15px;
  left: 20px;
  right: 20px;

  font-weight: 700;

  line-height: 1.4;
  text-shadow: $text-shadow;
  text-transform: uppercase;

  z-index: 5;
}

.gallery-item-indicator {
  position: absolute;
  left: 20px;
  bottom: 15px;

  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;

  border: 1px solid #fff;
  opacity: 0;
  z-index: 5;

  &.gallery-item-indicator-glass {
    border: 0;

    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
  }

  .gallery-item:hover & {
    opacity: 1;

    transition: opacity $transition-time;
    transition-delay: $transition-time * 3;
  }
}

.gallery-item-count {
  display: block;
  position: absolute;
  bottom: 15px;
  right: 20px;

  z-index: 5;

  font-weight: 700;
  text-shadow: $text-shadow;
}
