.gallery-item {
  position: relative;

  overflow: hidden;

  @include mq($mq-portrait-tablet) {
    width: 50%;
  }

  @include mq($mq-landscape-tablet) {
    width: 25%;
  }
}

.gallery-item-inner {
  position: relative;

  padding-bottom: 66.6%;
}
