.photo-outer {
  background-color: $color-black;

  @include mq($mq-landscape-tablet) {
    padding-top: $pad-base * 3;
  }
}

.photo__container {
  position: relative;

  margin-right: auto;
  margin-left: auto;
}

.photo__container--wide {
  max-width: $size-contained-med;
}

.photo-container-inner {
  position: relative;
}

.photo__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
}

.photo__download-wrap {
  position: absolute;
  right: $pad-base;
  bottom: $pad-base;
  z-index: 2;

  color: #fff;
}

.photo__download {
  @include Title();

  align-items: center;
  justify-content: center;

  display: flex;

  text-decoration: none;
  text-shadow: $text-shadow;

  svg {
    width: 14px;
    height: 14px;
    margin-right: 6px;
  }
}

.photo__prevnext {
  position: absolute;
  top: calc(50% - 15px);
  z-index: 2;

  align-items: center;
  justify-content: center;

  display: flex;
  width: 30px;
  height: 30px;
  margin-top: -15px;

  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  color: $color-white;

  transition: background-color $transition-time, color $transition-time;

  @include mq($mq-portrait-tablet) {
    top: calc(50% - 25px);

    width: 50px;
    height: 50px;
  }

  svg {
    width: 7px;
    height: 10px;
  }

  &:hover {
    background-color: #fff;
    color: $color-red;
  }
}

.photo__prevnext--prev {
  left: 0;

  @media (min-width: 1380px) {
    left: -70px;
  }

  svg {
    transform: rotate(180deg);
  }
}

.photo__prevnext--next {
  right: 0;

  @media (min-width: 1380px) {
    right: -70px;
  }
}

.photo__details {
  padding-top: $pad-base * 5;
  padding-bottom: $pad-base * 5;

  background-color: $color-white;
}

.photo__details-inner {
  display: flex;
}

.photo__details-icon {
  align-items: center;
  flex-shrink: 0;
  justify-content: center;

  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 20px;

  background-color: $color-red;

  @include mq($mq-landscape-tablet) {
    width: 60px;
    height: 60px;
    margin-right: 30px;
  }
}

.photo__details-icon-circle {
  align-items: center;
  justify-content: center;

  display: flex;
  width: 20px;
  height: 20px;

  background-color: #fff;
  border-radius: 50%;
  color: $color-red;

  svg {
    width: 4px;
    height: 10px;
  }
}

.photo-meta__item {
  & + & {
    margin-top: $pad-base * 1.5;
  }

  /* stylelint-disable selector-max-type */
  a {
    transition: color $transition-time;
  }

  a:hover {
    color: $color-red;
  }
  /* stylelint-enable */
}

.photo-meta__item-title {
  @include Title();

  display: block;
  margin-bottom: 5px;
}
