.gallery-section {
  @include Clearfix();
  position: relative;

  background-color: $color-black;
  color: $color-white;
}

.gallery-section-text {
  position: absolute;
  right: 65%;
  top: 0;
  bottom: 0;

  .gallery-section-altLayout & {
    left: 65%;
    right: auto;
  }
}

.gallery-section-text-inner {
  padding: $pad-base * 3;

  height: 100%;
  max-width: 520px;

  float: right;
}

.gallery-section-text-title {
  text-transform: uppercase;
  font-weight: 800;

  margin-bottom: $pad-base;
}

.gallery-section-text-subtitle {
  font-size: $fs-large;

  text-transform: uppercase;
  font-weight: 800;
}

.gallery-section-items {
  @include Clearfix();

  width: 65%;
  float: right;

  .gallery-section-altLayout & {
    float: left;
  }
}

.gallery-section-item-inner {
  padding-bottom: 50%;
  position: relative;
}

.gallery-section-item {
  width: 33.333%;
  float: left;
}

.gallery-section-item-action {
  display: block;
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery-section-item-action {
  color: #fff;
  text-decoration: none;
}

.gallery-section-item-title {
  position: absolute;
  top: 15px;
  left: 20px;

  font-weight: 700;

  line-height: 1.4;
  text-shadow: $text-shadow;
  text-transform: uppercase;
}

.gallery-section-item-count {
  display: block;
  position: absolute;
  bottom: 15px;
  right: 20px;

  font-weight: 700;
  text-shadow: $text-shadow;
}

.gallery-section-item-image {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-position: center;
  background-size: cover;
}