.section-teams {
  padding-top: $pad-base * 5;
  padding-bottom: $pad-base * 5;
}


.section-teams-header {
  text-align: center;
}

.section-teams-title {
  margin-bottom: $pad-base / 2;
  text-transform: uppercase;
  font-weight: 700;
}

.section-teams-subtitle {
  @include Title();

  font-size: $fs-large;
}

.section-teams-items {
  @include Clearfix();

  margin-left: -3%;
  margin-top: $pad-base * 3;
}

.section-teams-item {
  float: left;
  width: 30%;
  margin-left: 3%;

  margin-bottom: $pad-base * 3;

  position: relative;

  &::before {
    content: '';
    z-index: 0;

    display: block;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 0;
    bottom: 0;

    background-color: $color-red;

    transform: scale(0);
    transition: transform $transition-time * 3;
  }

  &:hover::before {
    transform: scale(1);
  }
}

.section-teams-item-action {
  display: block;
  padding-top: $pad-base * 2;
  padding-bottom: $pad-base * 2;

  color: inherit;
  text-decoration: none;

  position: relative;
  z-index: 2;
}

.section-teams-item-image {
  display: block;
  height: 130px;

  z-index: 2;
}

.section-teams-item-image-placeholder {
  display: block;
  text-align: center;

  height: 100%;

  &::before {
    @include Title();
    font-size: $fs-huge;

    content: '?';
  }
}

.section-teams-item-text {
  display: block;
  position: relative;
  z-index: 1;

  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  transition: color $transition-time * 2;

  .section-teams-item:hover & {
    color: #fff;
  }
}

.section-teams-action-outer {
  text-align: center;
}
