.gallery-section {
  @include Clearfix();
  position: relative;

  background-color: $color-black;
  color: $color-white;

  z-index: 2;
}

.gallery-section-text {
  position: absolute;
  right: 65%;
  top: 0;
  bottom: 0;

  .gallery-section-altLayout & {
    left: 65%;
    right: auto;
  }
}

.gallery-section-text-inner {
  padding: $pad-base * 3;

  height: 100%;
  max-width: 520px;

  float: right;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery-section-text-title {
  margin-bottom: $pad-base;

  font-weight: bold;
  text-transform: uppercase;
}

.gallery-section-text-subtitle {
  @include Title();

  font-size: $fs-large;
}

.gallery-section-text-action-outer {
  margin-top: $pad-base * 3;
}

.gallery-section-items {
  @include Clearfix();

  width: 65%;
  float: right;

  .gallery-section-altLayout & {
    float: left;
  }
}

.gallery-section-item-inner {
  padding-bottom: 66.66%;
  position: relative;

  overflow: hidden;
}

.gallery-section-item {
  width: 33.333%;
  float: left;
}

.gallery-section-item-action {
  display: block;
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery-section-item-action {
  color: #fff;
  text-decoration: none;
}

.gallery-section-item-image {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: scale(1.01);

  background-position: center;
  background-size: cover;
}
