.stats {
  z-index: 2;
  background-color: $color-white;

  text-align: center;

  padding-top: $pad-base * 6;
  padding-bottom: $pad-base * 6;
}

.stats-title {
  margin-bottom: 10px;

  font-weight: 800;
  text-transform: uppercase;
}

.stats-subtitle {
  @include Title();

  font-size: $fs-large;

  margin-bottom: $pad-base * 1.5;
}

.stats-stats {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;

  text-align: justify;

  margin-left: -3.3%;

  &::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 100%;
  }

 @include mq($mq-landscape-tablet) {
    margin-left: -11.33%;
  }
}

.stats-stat {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 30%;
  clear: none;
  float: left;

  margin-left: 3.33%;

  @include mq($mq-landscape-tablet) {
    width: 22%;
    margin-left: 11.33%;
  }
}

.stats-text {
  line-height: $line-height;

  margin-bottom: $pad-base * 3;
}

.stats-stat-number {
  @include Title();

  display: block;

  font-size: 80px;
  color: $color-red;

  @include mq($mq-landscape-tablet) {
    font-size: 120px;
  }
}

.stats-stat-desc {
  display: block;

  line-height: $line-height;
  font-weight: 700;
  text-transform: uppercase;
}

.stats-action-outer {
  margin-top: $pad-base * 2;
}
