.upcoming {
  padding-top: $pad-base * 5;
  padding-bottom: $pad-base * 5;

  text-align: center;
}

.upcoming-title {
  font-weight: 700;
  text-transform: uppercase;

  margin-bottom: $pad-base;
}

.upcoming-subtitle {
  @include Title();

  font-size: $fs-large;
}

.upcoming-list {
  margin-top: $pad-base * 3;

  text-align: left;
}

.upcoming-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding-top: $pad-base * 1.5;

  border-top: 1px solid $color-border;

  & + & {
    margin-top: $pad-base * 1.5;
  }

  @include mq($mq-portrait-tablet) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.upcoming-item-date {
  @include Title();

  display: flex;
  align-items: center;
  align-self: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  width: 60px;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: $pad-base;

  font-size: 12px;

  background-color: $color-red;
  color: #fff;

  @include mq($mq-portrait-tablet) {
    margin-right: $pad-base * 1.5;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.upcoming-item-date-line {
  display: block;

  width: 100%;
}

.upcoming-item-date-line--day {
  margin-top: auto;
  margin-bottom: 2px;
}

.upcoming-item-date-line--year {
  margin-top: 2px;
  margin-bottom: auto;
}

.upcoming-item-description {
  text-align: center;

  @include mq($mq-portrait-tablet) {
    width: auto;
    text-align: left;
  }
}

.upcoming-item-title {
  display: block;

  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.upcoming-item-location {
  display: block;

  margin-top: 5px;
}

.upcoming-item-link {
  flex: 0 0 auto;
  margin-top: $pad-base;

  text-align: center;

  @include mq($mq-portrait-tablet) {
    width: auto;
    margin-left: auto;
    margin-top: 0;
    padding-left: $pad-base * 1.5;

    text-align: left;
  }
}

.upcoming-item-link-button {
  white-space: nowrap;
}