.footer {
  background-color: $color-black;
  color: $color-white;

  padding-top: 30px;
  padding-bottom: 30px;

  .body-dark & {
    background-color: #222;
  }

  a {
    font-weight: 800;
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-inner {
  @include Clearfix();
}

.footer-right,
.footer-left {
  text-align: center;

  @include mq($mq-landscape-tablet) {
    text-align: left;
  }
}

.footer-left {
  line-height: $line-height;

  @include mq($mq-landscape-tablet) {
    float: left;
    line-height: 1;
  }
}

.footer-right {
  text-align: center;
  margin-top: $pad-base;

  @include mq($mq-landscape-tablet) {
    margin-top: 0;
    float: right;
    text-align: right;
  }
}

.footer-chiara {
  &::before {
    content: '\00a0';
    display: inline-block;

    height: 14px;
    width: 38px;
    background-image: url('/resource/images/chiara-mark.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
