.footer {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: $color-black;
  color: $color-white;

  .body-dark & {
    background-color: #222;
  }

  /* stylelint-disable selector-max-type */
  a {
    font-weight: 800;
    text-decoration: none;

    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
  /* stylelint-enable */
}

.footer-inner {
  text-align: center;

  @include mq($mq-landscape-tablet) {
    justify-content: space-between;

    display: flex;
  }
}

.footer-left {
  line-height: $line-height;

  @include mq($mq-landscape-tablet) {
    line-height: 1;
  }
}

.footer-right {
  align-items: center;

  display: flex;
  margin-top: $pad-base;

  text-align: center;

  @include mq($mq-landscape-tablet) {
    margin-top: 0;
  }
}

.footer-chiara {
  align-items: center;

  display: inline-flex;
  margin-left: 8px;

  svg {
    width: 30px;
    height: 15px;
    margin-right: 5px;
  }
}
