.header {
  height: 120px;

  background-color: $color-black;
}

.header-logo-action {
  height: 100%;
  width: 100%;

  display: block;
}

.header-logo {
  width: 300px;
  height: 100%;
  float: left;
}

.header-logo-image {
  height: 100%;

  background-image: url('/resource/images/logo-white.svg');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: auto 40%;
}

.header-inner {
  height: 100%;
  @include Clearfix();
}

.nav-outer {
  font-size: 0;

  height: 100%;
  float: right;
}

.nav-item {
  display: inline-block;
  line-height: 120px;
  color: #fff;

  & + & {
    margin-left: 30px;
  }
}

.nav-item-action {
  color: inherit;

  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $color-red;
  }
}