.header {
  background-color: $color-black;

  @include mq($mq-portrait-tablet) {
    height: 120px;
  }
}

.header-logo-action {
  height: 100%;
  width: 100%;

  display: block;
}

.header-logo {
  width: 170px;
  margin: 0 auto;
  height: 100px;

  @include mq($mq-portrait-tablet) {
    height: 100%;
    margin-left: 0;
  }

  @include mq($mq-landscape-tablet) {
    width: 300px;
  }
}

.header-logo-image {
  height: 100%;

  background-image: url('/resource/images/logo-white.svg');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @include mq($mq-landscape-tablet) {
    background-size: auto 40%;
  }
}

.header-inner {
  height: 100%;

  @include mq($mq-portrait-tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.nav-outer {
  font-size: 0;

  height: 100%;
  padding-bottom: $pad-base * 1.5;

  text-align: center;

  @include mq($mq-portrait-tablet) {
    padding-bottom: 0;
  }
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  height: 100%;
  margin-top: -$pad-base;
  margin-left: -30px;

  @include mq($mq-portrait-tablet) {
    margin-left: -20px;
    margin-top: 0;
  }

  @include mq($mq-landscape-tablet) {
    margin-left: -30px;
  }
}

.nav-item {
  flex: 1 0 auto;
  margin-top: $pad-base;
  margin-left: 30px;

  color: #fff;

  @include mq($mq-portrait-tablet) {
    display: flex;
    align-items: center;

    margin-top: 0;
    margin-left: 20px;
  }

  @include mq($mq-landscape-tablet) {
    margin-left: 30px;
  }

  &.nav-item-button {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.nav-item-action {
  color: inherit;

  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $color-red;
  }
}

