.header {
  background-color: $color-black;

  @include mq($mq-portrait-tablet) {
    height: 120px;
  }
}

.header--transparent {
  @include mq($mq-portrait-tablet) {
    position: absolute;
    z-index: 2;

    width: 100%;

    background-color: transparent;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.638) 19%,
      rgba(0, 0, 0, 0.541) 34%,
      rgba(0, 0, 0, 0.382) 47%,
      rgba(0, 0, 0, 0.278) 56.5%,
      rgba(0, 0, 0, 0.194) 65%,
      rgba(0, 0, 0, 0.126) 73%,
      rgba(0, 0, 0, 0.075) 80.2%,
      rgba(0, 0, 0, 0.042) 86.1%,
      rgba(0, 0, 0, 0.021) 91%,
      rgba(0, 0, 0, 0.008) 95.2%,
      rgba(0, 0, 0, 0.002) 98.2%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.header-logo-action {
  display: block;
  width: 100%;
  height: 100%;
}

.header-logo {
  width: 170px;
  height: 100px;
  margin: 0 auto;

  @include mq($mq-portrait-tablet) {
    height: 100%;
    margin-left: 0;
  }

  @include mq($mq-landscape-tablet) {
    width: 300px;
  }
}

.header-logo-image {
  height: 100%;

  background-image: url('/resource/images/logo-white.svg');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @include mq($mq-landscape-tablet) {
    background-size: auto 40%;
  }
}

.header-inner {
  height: 100%;

  @include mq($mq-portrait-tablet) {
    justify-content: space-between;

    display: flex;
  }
}

.nav-outer {
  height: 100%;
  padding-bottom: $pad-base * 1.5;

  font-size: 0;
  text-align: center;

  @include mq($mq-portrait-tablet) {
    padding-bottom: 0;
  }
}

.nav-items {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  display: flex;
  height: 100%;
  margin-top: -$pad-base;
  margin-left: -30px;

  @include mq($mq-portrait-tablet) {
    margin-top: 0;
    margin-left: -20px;
  }

  @include mq($mq-landscape-tablet) {
    margin-left: -30px;
  }
}

.nav-item {
  flex: 1 0 auto;

  margin-top: $pad-base;
  margin-left: 30px;

  color: #fff;

  @include mq($mq-portrait-tablet) {
    align-items: center;

    display: flex;
    margin-top: 0;
    margin-left: 20px;
  }

  @include mq($mq-landscape-tablet) {
    margin-left: 30px;
  }

  &.nav-item-button {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.nav-item-action {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  color: inherit;

  &:hover {
    text-shadow: none;

    color: $color-red;
  }

  .header--transparent & {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }

  .nav-item-button & {
    text-shadow: none;
  }

  .header--transparent &:hover {
    text-shadow: none;
  }
}
