{% extends "base.html" %}
{% block body_class %}body-dark{% endblock %}

{% block title %}{{ album.get_title() }}{% endblock %}

{% block meta %}
  <meta property="og:title" content="{{ album.get_title() }}" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="http://hp.lewiscollard.com{{photos[0].get_size('large').get_url()}}" />
{% endblock %}

{% block content %}
  <article class="album-outer full-height">
    <div class="album-inner contained">
      <div class="album-header">
        <div class="album-header-text">
          <h1 class="album-title">
            {% if album.get_taxonomy_name() %}
              <span class="album-title-above">{{ album.get_taxonomy_name() }}</span><span class="assistive">:</span>
            {% endif %}
            <span class="album-title-main">{{ album.title }}</span>
          </h1>

          {% if album.metadata and album.metadata["Description"] %}
            <p class="album-description">
              {{ album.metadata["Description"] }}
            </p>
          {% endif %}
        </div>
      </div>

      <div class="album-items-outer">
        <ul class="album-items">
          {% for photo in photos %}
            <li class="album-item">
              <a href="{{ photo.context_url }}" class="album-item-action">
                <div class="album-item-inner">
                  <img class="album-item-photo" src="{{ photo.get_size('thumb').get_url() }}" alt="{{ photo.identifier }}" />
                  <span class="album-item-indicator">
                    <i class="icon icon-search"></i>
                  </span>
                </div>
              </a>
            </li>
          {% endfor %}
          </ul>
      </div>
      <div class="clearme"></div>
    </div>
  </article>
{% endblock %}
