{% extends "base.html" %}

{% block body_class %}body-dark{% endblock %}

{% import 'macros/gallery.html' as gallery_macros %}

{% block title %}{{ album.get_title() }}{% endblock %}

{% block meta %}
  <meta property="og:title" content="{{ album.get_title() }}" />
  <meta property="og:description" content="" />
  {% if photos %}
    <meta property="og:image" content="https://hp.lewiscollard.com{{photos[0].get_size('large').get_url()}}" />
  {% endif %}
{% endblock %}

{% block content %}
  <article class="album full-height">
    <header class="album__header contained">
      <div class="album__header-text">
        <h1 class="album__title">
          {% if album.get_taxonomy_name() %}
            <span class="album__title-above">{{ album.get_taxonomy_name() }}</span><span class="assistive">:</span>
          {% endif %}
          <span class="album__title-main">{{ album.title }}</span>
        </h1>

        {% if album.metadata and album.metadata["Description"] %}
          <p class="album__description">
            {{ album.metadata["Description"] }}
          </p>
        {% endif %}
      </div>
    </header>

    <ul class="album__items">
      {% for photo in photos %}
        <li class="album__item album__item--no-caption">
          {{ gallery_macros.tile(
            image=photo.get_size('thumb').get_url(),
            indicator_type="glass",
            alt_text=photo.identifier,
            link_url=photo.context_url,
          ) }}
        </li>
      {% endfor %}
    </ul>
  </article>
{% endblock %}
