<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <title>{% block title_entire %}{% block title %}{% endblock %} -- {{ config.site_name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:site_name" content="Horsepower, by Lewis Collard" />
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="/resource/images/favicons/favicon.ico" />
    <link rel="stylesheet" href="/resource/css/style.css" />
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <header class="header">
      <div class="header-inner contained">
        <h1 class="header-logo">
          <a href="/" class="header-logo-action">
            <div class="header-logo-image">
              <span class="assistive">Horsepower, by Lewis Collard</span>
            </div>
          </a>
        </h1>
        <nav class="nav-outer">
          <ul class="nav-items">
            <li class="nav-item">
              <a href="/" class="nav-item-action">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-item-action" href="/galleries/events/">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-item-action" href="/galleries/drivers/">Drivers</a>
            </li>
            <li class="nav-item">
              <a class="nav-item-action" href="/galleries/teams/">Teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-item-action" href="/about/">About</a>
            </li>

            <li class="nav-item button onDark nav-item-button">
              <a href="/contact/" class="nav-item-action">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    {% block content %}{% endblock %}

    <footer class="footer">
      <div class="footer-inner contained">
        <div class="footer-left">
          <p><a href="/copyright/">Anti-copyright</a> Lewis Collard, 2014-2016.
          In memory of Mark Callf, 1964-2015.</p>
        </div>

        <div class="footer-right">
          <p>
            Designed by
            <a class="footer-chiara" href="http://www.chiaramensa.com/">Chiara Mensa</a>
          </p>
        </div>
      </div>
    </footer>
    <script src="/resource/js/main.js"></script>
  </body>
</html>
