{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <article class="album-index-outer">
    <div class="contained">
      <div class="album-index-header">
        <h1 class="album-index-title">{{ title }}</h1>
      </div>

      <ul class="album-listing album-listing-{{base_slug}}">
        {%for album in albums%}
          <li class="gallery-item has-caption">
            <div class="gallery-item-inner">
              <a href="{{ album.get_url() }}" class="gallery-item-action">
                <div class="gallery-section-item-image gallery-item-image has-caption" style="background-image: url({{ album.get_cover().get_size('thumb').get_url() }})"></div>
                <span class="gallery-item-title">{{ album.title }}</span>
                <span class="gallery-item-count">
                  <i class="icon icon-th"></i>
                  <span class="assistive">(</span>{{ album.count() }}
                  <span class="assistive">photos)</span>
                </span>

                <span class="gallery-item-indicator">
                  <i class="icon icon-right-open"></i>
                </span>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="clearme"></div>
    </div>
  </article>
{%endblock%}
