{% extends "base.html" %}

{% block header_class %}header--transparent{% endblock %}

{% block title_entire %}{{ config.site_name }}{% endblock %}

{% block meta %}
  <meta property="og:image" content="https://hp.lewiscollard.com/resource/images/opengraph/vaskelis.jpg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="631" />
  <meta property="og:title" content="Horsepower" />
  <meta property="og:description" content="A motorsports gallery by Lewis Collard." />
{% endblock %}

{% block content %}
  <article class="front-page">
    <header class="hero" id="front-page-hero">
      <div class="hero-image"></div>
      <div class="hero-content contained">
        <h1 class="hero-title">
          <span class="hero-title-top">
            Motorsports photography by
          </span>

          <span class="hero-title-bottom">
            Lewis Collard
          </span>
        </h1>
      </div>

      <span class="hero-indicator">
        <em class="hero-indicator-icon icon-right-open"></em>
      </span>
    </header>

    <script>
      (function () {
        var images = [
          '/resource/images/heroes/haddon.jpg',
          '/resource/images/heroes/simmons.jpg',
        ]
        var image = images[Math.floor(images.length * Math.random())];
        var hero = document.querySelector('.hero')
        var heroImage = document.querySelector('.hero-image');
        hero.classList.add('hero-loading');
        var imgtag = new Image();
        imgtag.onload = function() {
          hero.classList.remove('hero-loading')
          heroImage.style.backgroundImage = "url('" + image + "')";
        }
        setTimeout(function () {
          imgtag.src = image
        }, 1)
      })();
    </script>

    <section class="stats">
      <h2 class="stats-title">About</h2>
      <p class="stats-subtitle">Behind the lens</p>

      <div class="plain-text stats-text constrained">
        <p>I'm Lewis Collard. I am a photographer with the Norfolk Arena Drift Team,
        the greatest grass-roots drift racing crew on the planet,
        though there are allegations that I have occasionally
        <a href="/galleries/events/2014-04-15-rwyb-santa-pod-raceway-april-2014/">shot
        things driving in a straight line</a> and even cars
        <a href="/galleries/drivers/darren-brown/b3253b-20160730-run-the-darren-brown-DSC_0485/">not
        moving at all.</a></p>

        <p>This site is the result of thousands of hours of work. I hope you
        enjoy it as much as I enjoyed making it.</p>
      </div>

      <ul class="stats-stats constrained">
        <li class="stats-stat">
          <span class="stats-stat-number">{{ event_count }}</span>
          <span class="stats-stat-desc">events attended</span>
        </li>

        <li class="stats-stat">
          <span class="stats-stat-number">{{ driver_count }}</span>
          <span class="stats-stat-desc">drivers photographed</span>
        </li>

        <li class="stats-stat">
          <span class="stats-stat-number">{{ "{:,}".format(photo_count) }}</span>
          <span class="stats-stat-desc">high resolution downloads</span>
        </li>
      </ul>

      <p class="stats-action-outer">
        <a class="button" href="/about/">More about me</a>
      </p>
    </section>

    {% for tax in taxonomies %}
      {% if tax.name in ["Events", "Drivers"] %}
        <section class="gallery-section {% if loop.index % 2 == 0 %}gallery-section-altLayout{% endif %}" id="{{tax.slug}}">
          <div class="gallery-section-text">
            <div class="gallery-section-text-inner">
              <h2 class="gallery-section-text-title">{{ tax.name }}</h2>
              <p class="gallery-section-text-subtitle">
                {% if tax.name == "Drivers" %}
                  Mad skills.<br />Unique styles.
                {% elif tax.name == "Events" %}
                  The action.<br />Up close.
                {% endif %}
              </p>
              <p class="gallery-section-text-action-outer">
                <a href="{{ tax.index_url }}" class="button onDark gallery-section-text-button">View all</a>
              </p>
            </div>
          </div>

          <ul class="gallery-section-items album-listing-{{tax.slug}} gallery-section-items-{{ tax.slug }}">
            {% for gallery in tax.galleries %}
              <li class="gallery-item gallery-section-item-longerDesc gallery-section-item-{{ tax.name.lower() }} gallery-section-item has-caption">
                <a href="{{ gallery.get_url() }}" class="gallery-item-action">
                  <div class="gallery-section-item-image gallery-item-image has-caption" style="background-image: url({{ gallery.get_cover().get_size('thumb').get_url() }})"></div>
                  <span class="gallery-item-title">{{ gallery.title }}</span>
                  <span class="gallery-item-count">
                    <i class="icon icon-th"></i>
                    <span class="assistive">(</span>{{ gallery.count() }}
                    <span class="assistive">photos)</span>
                  </span>

                  <span class="gallery-item-indicator">
                    <i class="icon icon-right-open"></i>
                  </span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </section>

        {% if tax.name == "Events" %}
          <div class="fullscreen">
            <div class="fullscreen-image fast-parallax" data-parallax-y-by="-2" data-parallax-unit="%" style="background-image: url(/resource/images/fullscreen/ross/DSC_2170-1920.JPG)"></div>
          </div>

        {% elif tax.name == "Drivers" %}
          <div class="fullscreen fullscreen-2">
            <div class="fullscreen-image fast-parallax" data-parallax-y-by="-2" data-parallax-unit="%" style="background-image: url(/resource/images/fullscreen/ash/DSC_0020-1920.JPG)"></div>
          </div>
        {% endif %}
      {% elif tax.name == "Teams" %}
        <section class="section-teams contained">
          <div class="section-teams-header">
            <h1 class="section-teams-title">{{ tax.name }}</h1>
            <p class="section-teams-subtitle">Speed. Angle. Showmanship.</p>
          </div>

          <ul class="section-teams-items">
            {% for gallery in tax.galleries[:3] %}
              <li class="section-teams-item">
                <a class="section-teams-item-action" href="{{ gallery.get_url() }}">
                  <span class="section-teams-item-image">
                    {% if gallery.metadata["Transparent image"] %}
                      <img aria-hidden="true" src='{{ gallery.metadata["Transparent image"] }}' alt="" />
                    {% else %}
                      <span class="section-teams-item-image-placeholder"></span>
                    {% endif %}
                  </span>
                  <span class="section-teams-item-text">
                    {{ gallery.title }}
                  </span>
                </a>
              </li>
            {% endfor %}
          </ul>

          <p class="section-teams-action-outer">
            <a class="button" href="{{ tax.index_url }}">View all teams</a>
          </p>
        </section>
      {% endif %}
    {% endfor %}

    <section class="gallery-section {% if loop.index % 2 == 0 %}gallery-section-altLayout{% endif %}" id="awesome">
      <div class="gallery-section-text">
        <div class="gallery-section-text-inner">
          <h2 class="gallery-section-text-title">Greatest hits</h2>
          <p class="gallery-section-text-subtitle">
            The best of the best.
          </p>
          <p class="gallery-section-text-action-outer">
            <a href="{{ awesome.get_url() }}" class="button onDark gallery-section-text-button">View all</a>
          </p>
        </div>
      </div>

      <ul class="gallery-section-items album-listing-awesome">
        {% for image in awesome.pictures[0:9] %}
          <li class="gallery-item gallery-section-item has-caption">
            <div class="gallery-section-item-inner">
              <a href="/galleries/awesome/awesome/{{ image.identifier }}/" class="gallery-item-action">
                <div class="gallery-section-item-image gallery-item-image has-caption" style="background-image: url({{ image.get_size('thumb').get_url() }})"></div>

                <span class="gallery-item-indicator gallery-item-indicator-glass">
                  <i class="icon icon-search"></i>
                </span>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>

    {% include 'includes/upcoming-events.html' %}

    <section class="contact-section">
      <div class="contained">
        <h2 class="contact-section-title">Contact me</h2>

        <p class="contact-section-subtitle">Got questions?</o>

          <div class="plain-text contact-section-text">
            <p>Think you should be here, and you're not? Want me at your event? Spotted an error?</p>
          </div>

          <p class="contact-section-action-outer">
            <a class="button onDark" href="/contact/">Get in touch</a>
          </p>
        </h2>
      </div>
    </section>
  </article>
{% endblock %}
