{% extends "base.html" %}
{% block title_entire %}{{ config.site_name }}{% endblock %}

{% block meta %}
  <meta property="og:image" content="http://hp.lewiscollard.com{{featured[0].get_size('huge_crop').get_url()}}" />
  <meta property="og:title" content="Horsepower" />
  <meta property="og:description" content="A motorsports gallery by Lewis Collard." />
{% endblock %}

{% block content %}
  <article class="front-page">
   <section id="featured">
    <h1 class="assistive">Featured photographs</h1>
    <div class="slider">
     {%for photo in featured%}
      <div class="slide" id="slide-{{loop.index}}">
       <img src="{{photo.get_size('huge_crop').get_url()}}" />
      </div>
     {%endfor%}
    </div>
    <script>
     var slider = $(".slider");
     slider.slider();
    </script>

   </section>

   <section class="stats">
    <h2 class="stats-title">About</h2>
    <p class="stats-subtitle">The man behind the lens</p>

    <p class="stats-text constrained">
      Lorem Khaled Ipsum is a major key to success. Bless up. The ladies
      always say Khaled you smell good, I use no cologne. Cocoa butter
      is the key. The key to more success is to get a massage once a week, very
      important, major key, cloth talk. They key is to have every key, the key
      to open every door. Surround yourself with angels, positive energy,
      beautiful people, beautiful souls, clean heart, angel. The key to success
      is to keep your head above the water, never give up. Find peace, life is
      like a water fall, you've gotta flow.
    </p>

    <ul class="stats-stats">
      <li class="stats-stat">
        <span class="stats-stat-number">X</span>
        <span class="stats-stat-desc">years of photgraphy experience</span>
      </li>

      <li class="stats-stat">
        <span class="stats-stat-number">37</span>
        <span class="stats-stat-desc">events attended</span>
      </li>

      <li class="stats-stat">
        <span class="stats-stat-number">XX</span>
        <span class="stats-stat-desc">drivers photographed</span>
      </li>
    </ul>
   </section>

  {% for tax in taxonomies %}
    <section class="gallery-section {% if loop.index % 2 == 0 %}gallery-section-altLayout{% endif %}" id="{{tax.slug}}">
      <div class="gallery-section-text">
        <div class="gallery-section-text-inner">
          <h2 class="gallery-section-text-title">{{ tax.name }}</h2>
          <p class="gallery-section-text-subtitle">
            {% if tax.name == "Drivers" %}
              Wicked skills. Unique styles.
            {% elif tax.name == "Events" %}
              Documenting the action from up close
            {% endif %}
          </p>
          <p class="gallery-section-text-action-outer">
            <a class="button onDark gallery-section-text-button">View all</a>
          </p>
        </div>
      </div>

      <ul class="gallery-section-items album-listing-{{tax.slug}}">
      {% for gallery in tax.galleries %}
        <li class="gallery-section-item gallery-item has-caption">
          <div class="gallery-section-item-inner gallery-item">
            <a href="{{ gallery.get_url() }}" class="gallery-item-action">
              <div class="gallery-section-item-image gallery-item-image has-caption" style="background-image: url({{ gallery.get_cover().get_size('thumb').get_url() }})"></div>
              <span class="gallery-item-title">{{ gallery.title }}</span>
              <span class="gallery-item-count">
                <i class="icon icon-th"></i>
                <span class="assistive">(</span>{{ gallery.count() }}
                <span class="assistive">photos)</span>
              </span>

              <span class="gallery-item-indicator">
                <i class="icon icon-right-open"></i>
              </span>
            </a>
          </div>
        </li>
      {% endfor %}
      </ul>
    </section>
  {% endfor %}
  </article>
{% endblock %}
