{% extends "page.html" %}
{% block title %}Get in touch{% endblock %}
{% block content %}
  <article class="main full-height">
    <section class="contact-block">
      <div class="contact-block-inner contained">
        <h2 class="contact-block-title">Get in touch</h2>

        <ul class="contact-social">
          <li class="contact-social-item">
            <span class="contact-social-icon">
              <i class="icon icon-mail"></i>
            </span>
            <span class="contact-social-title">Email</span>
            <span class="assistive"> - </span>
            <span class="contact-social-text">
              Because I love hearing from you!
            </span>

            <a class="contact-social-button button" href="mailto:lewiscollard@gmail.com">
              Email me
            </a>
          </li>


          <li class="contact-social-item">
            <span class="contact-social-icon">
              <i class="icon icon-twitter"></i>
            </span>
            <span class="contact-social-title">Twitter</span>

            <span class="contact-social-text">
              For regular E36s and strange ideas.
            </span>

            <a class="contact-social-button button" href="https://twitter.com/lewiscollard" target="_blank">
              Follow @lewiscollard
            </a>
          </li>

          <li class="contact-social-item">
            <span class="contact-social-icon">
              <i class="icon icon-facebook"></i>
            </span>
            <span class="contact-social-title">Facebook</span>
            <span class="assistive"> - </span>
            <span class="contact-social-text">
              For epic request threads.
            </span>

            <a class="contact-social-button button" href="https://www.facebook.com/lewiscollard" target="_blank">
              Add me
            </a>
          </li>

          <li class="contact-social-item">
            <span class="contact-social-icon">
              <i class="icon icon-tumblr"></i>
            </span>
            <span class="contact-social-title">Tumblr</span>
            <span class="contact-social-text">
              For semi-regular photos.
            </span>

            <a class="contact-social-button button" href="http://tumblr.lewiscollard.com/" target="_blank">
              Follow @lewiscollard
            </a>
          </li>
        </ul>
      </div>
    </section>
  </article>
{% endblock %}
